/* Top bar and show/hide button */
.fl-uiOptions-optionPanel .fl-panelBar {
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.fl-uiOptions-optionPanel .fl-toggleButton {
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    background-color: white;
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}

/* IFrame */
.fl-uiOptions-optionPanel-iframe {
    border: 0;
    background-color: #fff;
    height: 0;
}

.fl-uiOptions .fl-uiOptions-buttons {
    margin-top: -20px;
    float: none;
    margin-bottom: 5px;
    margin-right: 5px;
}

.flc-uiOptions-text-controls li{
    display: table-cell;
    vertical-align: top;
    text-align:left;
    padding-left: 15px;
}

.fl-uiOptions h2 {
    vertical-align: top;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.fl-theme-bw #remaining {
    background-color: #000000 !important;
}
.fl-theme-wb #remaining {
    background-color: #fff !important;
}
.fl-theme-by #remaining{
    background-color: #000 !important;
}
.fl-theme-yb #remaining{
    background-color: #ffff00 !important;
}


.flc-uiOptions-text-controls .fl-slider-input {
    margin-top: 30px;
    margin-left: 5px;
    float: none;
    vertical-align: text-top;
    text-align:left;
}

.fl-uiOptions-h2tag{
    margin-top: 0;
    margin-left: 25px;
    margin-bottom: 5px;
}

.flc-font-custom{
    font-family: arial;
    font-weight: bold;
}