.fl-epubReader-container {
    background-color: rgb(245, 245, 245);
    padding: 0;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

.fl-epubReader-bookContainer {
    position: relative;
    top: 0;
    border: 1px dotted rgb(210, 210, 210);
    height: 600px;
    background-color: #FFFFFF;
    padding: 0;
    overflow: hidden;
}

.fl-epubReader-container  a:visited,
.fl-epubReader-container  a:link {
    color: rgb(90, 90, 90);
    text-decoration: none;
}

.fl-epubReader-container a.selected {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#toc-container {
    width: 150px;
    font-size: x-small;
}

#toc {
    list-style-type: none;
    margin: 0;
    padding: 1em 1em 10em 1em;
}

.fl-epubReader-container h1 {
    line-height: 1em;
}

.flc-epubReader-chapter-title {
    margin-top: 30px;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 10px
}

.fl-epubReader-container .indent {
    padding-left: 1em;
}

.flc-epubReader-chapter-content {
    top: 30px;
    width: 750px;
    /*height: 500px;*/
    min-height: 500px;
    position: absolute;
    padding: 25px;
    overflow: hidden;
}

.fl-epubReader-progressIndicator {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 500px;
    height: 5px;
    border: 1px solid rgb(200, 200, 200);
}

.flc-epubReader-progressIndicator-completed {
    background-color: #000000;
    height: 5px;
    width: 0;
}

.fl-epubReader-container .rounded-corners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

/* Custom Scrollbar only works for Chrome and Safari */

.fl-epubReader-container ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.fl-epubReader-container ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.fl-epubReader-container ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.fl-epubReader-container ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

/* Tabs */
.fl-epubReader-tabsPanel ul.fl-tabs {
    background-color: #333333;
    color: #fff;
    margin-top: 0px;
    border-bottom: none;
}

.fl-epubReader-tabsPanel .fl-tabs li a {
    background-color: #333333;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 0px;
}

.fl-epubReader-tabsPanel ul.fl-tabs li:first-child a {
    margin-left: -10px;
}

.fl-epubReader-tabsPanel .fl-tabs .ui-tabs-selected a {
    background-color: #fff;
    color: #000;
}

/* jQuery UI Tabs styles */
.fl-epubReader-tabsPanel.ui-tabs {
    position: relative;
    zoom: 1;
    padding: 0px;
}

/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.fl-epubReader-tabsPanel.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 0em 0em 1.2em 1.4em;
    background: #FFFFFF;
}

.fl-epubReader-tabsPanel.ui-tabs .ui-tabs-hide {
    display: none !important;
}

.fl-epubReader-tabsPanel.ui-tabs .ui-tabs-nav {
    padding: 0px;
}

.fl-epubReader-tabsPanel.ui-tabs .ui-tabs-nav li {
    top: 0px;
    margin: 0px;
}

.fl-epubReader-tabsPanel.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 1em 1.5em 1em 3em;
}

.fl-epubReader-tabsPanel.ui-tabs .ui-state-default {
    border: none;
}

.fl-epubReader-tabsPanel.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0px;
}

.fl-epubReader-tabsPanel .fl-tabs .ui-corner-top {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
}

.fl-epubReader-tabsPanel .fl-tabs .ui-corner-all {
    -moz-border-radius: 0px;
}

.fl-epubReader-tabsPanel.ui-widget-content {
    border: none;
}

.fl-epubReader-tabsPanel.ui-tabs .ui-widget-header {
    background: none;
    border: 0px;
    background-color: #333333;
}

.fl-epubReader-tabsPanel.ui-tabs .ui-tabs-panel ul {
    margin: 0em;
    padding-top: 1.5em;
}

.fl-epubReader-navigationContaniner .fl-tab-notes,
.fl-epubReader-navigationContaniner .fl-tab-bookmarks,
.fl-epubReader-navigationContaniner .fl-tab-general {
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

.fl-epubReader-tabsPanel .fl-tab-notes {
    background-image: url('../images/epubReader_icon_notes_defaultInverted_16x16.png');
}

.fl-epubReader-tabsPanel .ui-tabs-selected .fl-tab-notes {
    background-image: url('../images/epubReader_icon_notes_default_16x16.png');
}

.fl-epubReader-tabsPanel .fl-tab-bookmarks {
    background-image: url('../images/epubReader_icon_bookmarks_defaultInverted_16x16.png');
}

.fl-epubReader-tabsPanel .ui-tabs-selected .fl-tab-bookmarks {
    background-image: url('../images/epubReader_icon_bookmarks_default_16x16.png');
}

.fl-epubReader-tabsPanel .fl-tab-general {
    background-image: url('../images/epubReader_icon_general_defaultInverted_16x16.png');
}

.fl-epubReader-tabsPanel .ui-tabs-selected .fl-tab-general {
    background-image: url('../images/epubReader_icon_general_default_16x16.png.png');
}

/* dialog */
/* Following css rules are not inside epubReader container because jQuery UI dialog shift dialog div as a child of body */
/* TODO Find a way to work around jQuery Dialog issue*/
.ui-dialog {
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    -khtml-border-radius: 0 5px 5px 5px;
    border-color: #000;
    border-width: 1px;
    border-style: groove;
    background-color: #FFFFFF;
    position: absolute;
    width: 300px;
    overflow: hidden;
}

.ui-dialog .ui-dialog-titlebar {
    background-color: #000000;
    padding: .4em 1em;
    position: relative;
    text-align: center;
}

.ui-dialog .ui-dialog-title {
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: .1em 16px .1em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    min-height: 0;
    zoom: 1;
    text-align: center;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
    cursor: pointer;
}

.ui-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}
.ui-dialog button,
.fl-epubReader-navigationContaniner li  button{
    color: #FFFFFF;
    margin: 2px;
    background-color: #000000;
}
.notification {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-width: 1px;
    border-style: groove;
    font-weight: bold;
    cursor: pointer;
    background-image: url("../images/epubReader_notification_background.png");
    background-repeat: repeat;
}
.error {
     background-color: #FF0000;
     color: #FFFFFF;
 }

.success {
    background-color: green;
    color: #FFFFFF;
}

.fl-epubReader-navigationContaniner   li {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding-left: 15px;
}

.fl-epubReader-bookmarkContainer {
    width: 79.1%;
    float: right;
    vertical-align: middle;
    text-align: center;
}
.fl-epubReader-bookmarkContainer td{
    /*background-color: #333333;*/
    /*color: #ffffff;*/
    border: none;
}
.fl-epubReader-bookmarkContainer th {
    background-color: #f5f5f5;
    color: #000;
    border: none;
}
.flc-epubReader-addBookmark {
    float: left;
    padding: 10px;
    color: #FFFFFF;
    background-color: #000000;
    margin-left: 60px;
    margin-top: 10px;
}